@model IEnumerable<Stadium_webapp.Models.Stadiums.stadiums>

@{
	ViewData["Title"] = "Index";
}

@foreach (var item in Model.Where(item => item.Id == 9))
{
	<div class="flip-card">
		<div class="flip-card-inner">
			<div class="flip-card-front">
				<img src="~/images/emir.jpg" alt="Avatar" style="width:300px;height:200px;">
			</div>
			<div class="flip-card-back">

				@Html.DisplayFor(modelItem => item.Name)<br />
				@Html.DisplayFor(modelItem => item.Capacity)<br />
				@Html.DisplayFor(modelItem => item.TicketPrice)<br />
				<p>
					<a href="https://www.premierleague.com/clubs/1/Arsenal/stadium" role="menuitem">Stadium Profile</a>
				</p>
			</div>
		</div>
	</div>
}
@foreach (var item in Model.Where(item => item.Id == 10))
{
	<div class="flip-card">
		<div class="flip-card-inner">
			<div class="flip-card-front">
				<img src="~/images/villa.jpg" alt="Avatar" style="width:300px;height:200px;">
			</div>
			<div class="flip-card-back">

				@Html.DisplayFor(modelItem => item.Name)<br />
				@Html.DisplayFor(modelItem => item.Capacity)<br />
				@Html.DisplayFor(modelItem => item.TicketPrice)
				<p>
					<a href="https://www.premierleague.com/clubs/2/Aston-Villa/stadium" role="menuitem">Stadium Profile</a>
				</p>
			</div>
		</div>
	</div>
}
@foreach (var item in Model.Where(item => item.Id == 11))
{
	<div class="flip-card">
		<div class="flip-card-inner">
			<div class="flip-card-front">
				<img src="~/images/vit.jpg" alt="Avatar" style="width:300px;height:200px;">
			</div>
			<div class="flip-card-back">

				@Html.DisplayFor(modelItem => item.Name)<br />
				@Html.DisplayFor(modelItem => item.Capacity)<br />
				@Html.DisplayFor(modelItem => item.TicketPrice)
				<p>
					<a href="https://www.premierleague.com/clubs/127/Bournemouth/stadium" role="menuitem">Stadium Profile</a>
				</p>
			</div>
		</div>
	</div>
}
@foreach (var item in Model.Where(item => item.Id == 12))
{
	<div class="flip-card">
		<div class="flip-card-inner">
			<div class="flip-card-front">
				<img src="~/images/brig.jpg" alt="Avatar" style="width:300px;height:200px;">
			</div>
			<div class="flip-card-back">

				@Html.DisplayFor(modelItem => item.Name)<br />
				@Html.DisplayFor(modelItem => item.Capacity)<br />
				@Html.DisplayFor(modelItem => item.TicketPrice)
				<p>
					<a href="https://www.premierleague.com/clubs/131/Brighton-and-Hove-Albion/stadium" role="menuitem">Stadium Profile</a>
				</p>
			</div>
		</div>
	</div>
}
@foreach (var item in Model.Where(item => item.Id == 16))
{
	<div class="flip-card">
		<div class="flip-card-inner">
			<div class="flip-card-front">
				<img src="~/images/turf.jpg" alt="Avatar" style="width:300px;height:200px;">
			</div>
			<div class="flip-card-back">

				@Html.DisplayFor(modelItem => item.Name)<br />
				@Html.DisplayFor(modelItem => item.Capacity)<br />
				@Html.DisplayFor(modelItem => item.TicketPrice)
				<p>
					<a href="https://www.premierleague.com/clubs/43/Burnley/stadium" role="menuitem">Stadium Profile</a>
				</p>
			</div>
		</div>
	</div>
}
@foreach (var item in Model.Where(item => item.Id == 17))
{
	<div class="flip-card">
		<div class="flip-card-inner">
			<div class="flip-card-front">
				<img src="~/images/stam.jpg" alt="Avatar" style="width:300px;height:200px;">
			</div>
			<div class="flip-card-back">

				@Html.DisplayFor(modelItem => item.Name)<br />
				@Html.DisplayFor(modelItem => item.Capacity)<br />
				@Html.DisplayFor(modelItem => item.TicketPrice)
				<p>
					<a href="https://www.premierleague.com/clubs/4/Chelsea/stadium" role="menuitem">Stadium Profile</a>
				</p>
			</div>
		</div>
	</div>
}
@foreach (var item in Model.Where(item => item.Id == 18))
{
	<div class="flip-card">
		<div class="flip-card-inner">
			<div class="flip-card-front">
				<img src="~/images/selhu.jpg" alt="Avatar" style="width:300px;height:200px;">
			</div>
			<div class="flip-card-back">

				@Html.DisplayFor(modelItem => item.Name)<br />
				@Html.DisplayFor(modelItem => item.Capacity)<br />
				@Html.DisplayFor(modelItem => item.TicketPrice)
				<p>
					<a href="https://www.premierleague.com/clubs/6/Crystal-Palace/stadium" role="menuitem">Stadium Profile</a>
				</p>
			</div>
		</div>
	</div>
}
@foreach (var item in Model.Where(item => item.Id == 19))
{
	<div class="flip-card">
		<div class="flip-card-inner">
			<div class="flip-card-front">
				<img src="~/images/good.jpg" alt="Avatar" style="width:300px;height:200px;">
			</div>
			<div class="flip-card-back">

				@Html.DisplayFor(modelItem => item.Name)<br />
				@Html.DisplayFor(modelItem => item.Capacity)<br />
				@Html.DisplayFor(modelItem => item.TicketPrice)
				<p>
					<a href="https://www.premierleague.com/clubs/7/Everton/stadium" role="menuitem">Stadium Profile</a>
				</p>
			</div>
		</div>
	</div>
}
@foreach (var item in Model.Where(item => item.Id == 20))
{
	<div class="flip-card">
		<div class="flip-card-inner">
			<div class="flip-card-front">
				<img src="~/images/kingp.jpg" alt="Avatar" style="width:300px;height:200px;">
			</div>
			<div class="flip-card-back">

				@Html.DisplayFor(modelItem => item.Name)<br />
				@Html.DisplayFor(modelItem => item.Capacity)<br />
				@Html.DisplayFor(modelItem => item.TicketPrice)
				<p>
					<a href="https://www.premierleague.com/clubs/26/Leicester-City/stadium" role="menuitem">Stadium Profile</a>
				</p>
			</div>
		</div>
	</div>
}
@foreach (var item in Model.Where(item => item.Id == 21))
{
	<div class="flip-card">
		<div class="flip-card-inner">
			<div class="flip-card-front">
				<img src="~/images/anf.jpg" alt="Avatar" style="width:300px;height:200px;">
			</div>
			<div class="flip-card-back">

				@Html.DisplayFor(modelItem => item.Name)<br />
				@Html.DisplayFor(modelItem => item.Capacity)<br />
				@Html.DisplayFor(modelItem => item.TicketPrice)
				<p>
					<a href="https://www.premierleague.com/clubs/10/Liverpool/stadium" role="menuitem">Stadium Profile</a>
				</p>
			</div>
		</div>
	</div>
}
@foreach (var item in Model.Where(item => item.Id == 22))
{
	<div class="flip-card">
		<div class="flip-card-inner">
			<div class="flip-card-front">
				<img src="~/images/etih.jpg" alt="Avatar" style="width:300px;height:200px;">
			</div>
			<div class="flip-card-back">

				@Html.DisplayFor(modelItem => item.Name)<br />
				@Html.DisplayFor(modelItem => item.Capacity)<br />
				@Html.DisplayFor(modelItem => item.TicketPrice)
				<p>
					<a href="https://www.premierleague.com/clubs/11/Manchester-City/stadium" role="menuitem">Stadium Profile</a>
				</p>
			</div>
		</div>
	</div>
}
@foreach (var item in Model.Where(item => item.Id == 23))
{
	<div class="flip-card">
		<div class="flip-card-inner">
			<div class="flip-card-front">
				<img src="~/images/oldt.jpg" alt="Avatar" style="width:300px;height:200px;">
			</div>
			<div class="flip-card-back">

				@Html.DisplayFor(modelItem => item.Name)<br />
				@Html.DisplayFor(modelItem => item.Capacity)<br />
				@Html.DisplayFor(modelItem => item.TicketPrice)
				<p>
					<a href="https://www.premierleague.com/clubs/12/Manchester-United/stadium" role="menuitem">Stadium Profile</a>
				</p>
			</div>
		</div>
	</div>
}
@foreach (var item in Model.Where(item => item.Id == 24))
{
	<div class="flip-card">
		<div class="flip-card-inner">
			<div class="flip-card-front">
				<img src="~/images/stjames.jpg" alt="Avatar" style="width:300px;height:200px;">
			</div>
			<div class="flip-card-back">

				@Html.DisplayFor(modelItem => item.Name)<br />
				@Html.DisplayFor(modelItem => item.Capacity)<br />
				@Html.DisplayFor(modelItem => item.TicketPrice)
				<p>
					<a href="https://www.premierleague.com/clubs/23/Newcastle-United/stadium" role="menuitem">Stadium Profile</a>
				</p>
			</div>
		</div>
	</div>
}
@foreach (var item in Model.Where(item => item.Id == 25))
{
	<div class="flip-card">
		<div class="flip-card-inner">
			<div class="flip-card-front">
				<img src="~/images/carrow.jpg" alt="Avatar" style="width:300px;height:200px;">
			</div>
			<div class="flip-card-back">

				@Html.DisplayFor(modelItem => item.Name)<br />
				@Html.DisplayFor(modelItem => item.Capacity)<br />
				@Html.DisplayFor(modelItem => item.TicketPrice)
				<p>
					<a href="https://www.premierleague.com/clubs/14/Norwich-City/stadium" role="menuitem">Stadium Profile</a>
				</p>
			</div>
		</div>
	</div>
}
@foreach (var item in Model.Where(item => item.Id == 26))
{
	<div class="flip-card">
		<div class="flip-card-inner">
			<div class="flip-card-front">
				<img src="~/images/shef.jpg" alt="Avatar" style="width:300px;height:200px;">
			</div>
			<div class="flip-card-back">

				@Html.DisplayFor(modelItem => item.Name)<br />
				@Html.DisplayFor(modelItem => item.Capacity)<br />
				@Html.DisplayFor(modelItem => item.TicketPrice)
				<p>
					<a href="https://www.premierleague.com/clubs/18/Sheffield-United/stadium" role="menuitem">Stadium Profile</a>
				</p>
			</div>
		</div>
	</div>
}
@foreach (var item in Model.Where(item => item.Id == 27))
{
	<div class="flip-card">
		<div class="flip-card-inner">
			<div class="flip-card-front">
				<img src="~/images/stmary.jpg" alt="Avatar" style="width:300px;height:200px;">
			</div>
			<div class="flip-card-back">

				@Html.DisplayFor(modelItem => item.Name)<br />
				@Html.DisplayFor(modelItem => item.Capacity)<br />
				@Html.DisplayFor(modelItem => item.TicketPrice)
				<p>
					<a href="https://www.premierleague.com/clubs/20/Southampton/stadium" role="menuitem">Stadium Profile</a>
				</p>
			</div>
		</div>
	</div>
}
@foreach (var item in Model.Where(item => item.Id == 28))
{
	<div class="flip-card">
		<div class="flip-card-inner">
			<div class="flip-card-front">
				<img src="~/images/tott.jpg" alt="Avatar" style="width:300px;height:200px;">
			</div>
			<div class="flip-card-back">

				@Html.DisplayFor(modelItem => item.Name)<br />
				@Html.DisplayFor(modelItem => item.Capacity)<br />
				@Html.DisplayFor(modelItem => item.TicketPrice)
				<p>
					<a href="https://www.premierleague.com/clubs/21/Tottenham-Hotspur/stadium" role="menuitem">Stadium Profile</a>
				</p>
			</div>
		</div>
	</div>
}
@foreach (var item in Model.Where(item => item.Id == 29))
{
	<div class="flip-card">
		<div class="flip-card-inner">
			<div class="flip-card-front">
				<img src="~/images/wat.jpg" alt="Avatar" style="width:300px;height:200px;">
			</div>
			<div class="flip-card-back">

				@Html.DisplayFor(modelItem => item.Name)<br />
				@Html.DisplayFor(modelItem => item.Capacity)<br />
				@Html.DisplayFor(modelItem => item.TicketPrice)
				<p>
					<a href="https://www.premierleague.com/clubs/33/Watford/stadium" role="menuitem">Stadium Profile</a>
				</p>
			</div>
		</div>
	</div>
}
@foreach (var item in Model.Where(item => item.Id == 30))
{
	<div class="flip-card">
		<div class="flip-card-inner">
			<div class="flip-card-front">
				<img src="~/images/lons.jpg" alt="Avatar" style="width:300px;height:200px;">
			</div>
			<div class="flip-card-back">

				@Html.DisplayFor(modelItem => item.Name)<br />
				@Html.DisplayFor(modelItem => item.Capacity)<br />
				@Html.DisplayFor(modelItem => item.TicketPrice)
				<p>
					<a href="https://www.premierleague.com/clubs/25/West-Ham-United/stadium" role="menuitem">Stadium Profile</a>
				</p>
			</div>
		</div>
	</div>
}
@foreach (var item in Model.Where(item => item.Id == 31))
{
	<div class="flip-card">
		<div class="flip-card-inner">
			<div class="flip-card-front">
				<img src="~/images/molin.jpg" alt="Avatar" style="width:300px;height:200px;">
			</div>
			<div class="flip-card-back">

				@Html.DisplayFor(modelItem => item.Name)<br />
				@Html.DisplayFor(modelItem => item.Capacity)<br />
				@Html.DisplayFor(modelItem => item.TicketPrice)
				<p>
					<a href="https://www.premierleague.com/clubs/38/Wolverhampton-Wanderers/stadium" role="menuitem">Stadium Profile</a>
				</p>
			</div>
		</div>
	</div>
}